// main-script's
script(src='/libs/jquery/dist/jquery.min.js')
script(type='text/javascript', src='http://dkldiv.attendify.io/api.min.js')
script(src='/js/main.js')
//script(src='/libs/slick-carousel/slick/slick.min.js')
